body {
  background-color: #F23E2E;
  font-family: '3dumbregular';
  font-size: 2em;
  padding: 3em;
  color: #F2BB16;
}

@font-face {
  font-family: '3dumbregular';
  src: url('../src/fonts/3dumb-webfont.woff2') format('woff2'),
       url('../src/fonts/3dumb-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.container:nth-child(odd) {
  border: dashed 5px #F2BB16;
  padding: 29px;
}

.container {
  margin-bottom: 50px;
}

.setup {
  font-weight: bold;
}

.punchline{
  color: #F23E2E;
  transition: all 500ms ease-in-out;
}

.punchline:hover {
  color: white;
  transition:all 500ms ease-in-out;
}

h1, p {
  font-family: 'Hubballi', cursive;
}

h1 {
  color: #F23E2E;
}

.p-container {
  height: 30vh;
  font-family: 'Hubballi', cursive;
  background-color: white;
  color: black;
  margin-bottom: 2em;
  padding: 2em;
}